/*Fuentes*/

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
}

/*Reseteo CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/*Generales*/

html {
    font-size: 20px;
}

@media (max-width: 440px){
    html 
    {
        font-size: 18px;
    }
}

body
{
    font-family: "Montserrat", sans-serif;
    color: #67666e;
}

img
{
    max-width: 100%;
}

p
{
    margin-bottom: 0.8rem;
}

/* Hero */

.hero
{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes AnimacionHero {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    
    10% {opacity: 1;}

    25% {transform: scale(1.2);}

    75% {opacity: 0; transform: scale(1.1);}

    100% {opacity: 0;}
}

.hero div
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: AnimacionHero 20s infinite;
}

.hero div:nth-child(1)
{
    background-image: url(../img/front/front1.jpg);
}

.hero div:nth-child(2)
{
    background-image: url(../img/front/front2.jpg);
    animation-delay: 4s;
}

.hero div:nth-child(3)
{
    background-image: url(../img/front/front3.jpg);
    animation-delay: 8s;
}

.hero div:nth-child(4)
{
    background-image: url(../img/front/front4.jpg);
    animation-delay: 12s;
}

.hero div:nth-child(5)
{
    background-image: url(../img/front/front5.jpg);
    animation-delay: 16s;
}

.hero .hero-logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
    text-align: center;
}

@media (max-width: 720px){
    .hero .hero-logo {
        width: 60%;
    }

    .hero .hero-down {
        width: 10%;
    }
}

@media (max-width: 400px){
    .hero .hero-logo {
        width: 80%;
    }

    .hero .hero-down {
        width: 20%;
    }
}

/* Header */

header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #67666e;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    transition: all 0.6s ease-in-out;
}

header.transparente {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.31976540616246496) 0%, rgba(248,254,255,0) 100%);
    box-shadow: none;
}

header img {
    height: 60%;
    width: auto;
    transition: all 0.6s ease-in-out;
}

header.transparente img{
    filter: invert(100%);
}

header nav a 
{
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    transition: all .3s ease-in-out;
}

header.transparente nav a {
    color: rgba(255, 255, 255, 0.75);
}

header nav a.activo, 
a.activo, 
header nav a:hover {
    color: black;
    font-weight: bold;
}

header.transparente nav a:hover,
header.transparente nav a.activo {
    color: rgb(255, 255, 255);
    z-index: 2;
}

/*Boton burguer*/

#burger
{
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 20;
    display: none;
    transition: all .5s ease-in-out;
}

#burger.abierto
{
    transform: rotate(360deg);
    transition: all .35s ease-in-out;

}

#burger.transparente img {


}

@media (max-width: 720px){
    #burger {
        display: inline;
    }

    header nav {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.menu
{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0; 
    right: -200px;
    background-color: white;
    box-shadow: #67666e3f -3px 0px 10px;
    font-size: 1rem;
    transition: all 0.35s ease-in-out;
}

.menu.abierto {
    right: 0;
    z-index: 3;
}

.menu nav
{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 70px;

}

.menu nav a
{
    padding: 0.5rem;
    color: #67666e;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu nav a:hover
{
    color: #232225;
    font-weight: bold;
}

.copyright
{
    color: #67666e;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/* Layout */

.primera {
    margin-top: 100vh;
}

#pr {
    margin-top: -90px;
    padding-bottom: 90px;
}

.fila {
    display: flex;
    padding: 2rem 1rem;
}

.col-75 {
    width: 75%;
    padding: 1rem 0.5rem;
}
.col-66 {
    width: 66%;
    padding: 1rem 0.5rem;
}
.col-50 {
    width: 50%;
    padding: 1rem 0.5rem;
}
.col-33 {
    width: 33%;
    padding: 1rem 0.5rem;
}
.col-25 {
    width: 25%;
    padding: 1rem 0.5rem;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-t {
    margin-top: 1rem;
}

.m-r {
    margin-right: 1rem;
}

.m-l {
    margin-left: 1rem;
}

.m-b {
    margin-bottom: 1rem;
}

.m-t-small {
    margin-top: 0.5rem;
}

.m-r-small {
    margin-right: 0.5rem;
}

.m-l-small {
    margin-left: 0.5rem;
}

.m-b-small {
    margin-bottom: 0.5rem;
}

@media (max-width: 720px) {
    .fila {
        flex-direction: column;
        padding: 1rem;
    }
    .col-75, .col-66, .col-50, .col-33, .col-25 {
        width: 100%;
    }
    .card {
        width: 100%;
    }
}

.fila.parallax {
    background-image: url(../img/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fila.parallax div p {
    text-align: center;
    font-size: 1.5rem;
    color: #232225b4;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    margin-bottom: 0%;
    
}

/* Formulario contacto */

form.contacto .fila {
    padding: 0.8rem;
}

input {
    border: none;
    border-bottom: 2px solid #67666e;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 80%;
    color: #67666e;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #232225;
}

input.usuario {
    width: 100%;
    background-image: url(../icons/user.svg);
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

input.email {
    width: 100%;
    background-image: url(../icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

button {
    border: none;
    color: #fff;
    background-color: #67666e;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

button:hover {
    background-color: #232225;
    box-shadow: 2px 2px 5px gray;
}

#condiciones {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #232225;
    color: rgba(255, 255, 255, 0.774);
    font-size: 0.8rem;;
    padding: 0 1rem;
}

footer a:hover {
    filter: invert(20%);
}

/* Cartas */

.card {
    width: 320px;
    height: 290px;
    margin-top: 50px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.card .footer-card {
    padding: 0.8rem;
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card .footer-card a {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #232225;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    transition: all .4s ease-in-out;
}

.card .footer-card a:hover {
    background-color: #e6e6e6;
    color: #232225;
    transform: scale(1.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 1rem;
    justify-content: center;
}